<form>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputNickname">Nickname</label>
    <input type="email" class="form-control" id="inputNickname" aria-describedby="emailHelp" placeholder="Enter nickname">
    <small class="form-text text-muted">Chose a nickname visible for other users.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="inputRepeatPassword">Repeat Password</label>
    <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat password">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
