<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email"
           class="form-control"
           id="inputEmail" name="inputEmail"
           placeholder="Enter email"
           [(ngModel)]="inputEmail">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputNickname">Nickname</label>
    <input type="text"
           class="form-control"
           id="inputNickname"
           name="inputNickname"
           placeholder="Enter nickname"
           [(ngModel)]="inputUsername">
    <small class="form-text text-muted">Chose a nickname visible for other users.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password"
           class="form-control"
           id="inputPassword"
           name="inputPassword"
           placeholder="Password"
           [(ngModel)]="inputPassword">
  </div>
  <div class="form-group">
    <label for="inputRepeatPassword">Repeat Password</label>
    <input type="password"
           class="form-control"
           id="inputRepeatPassword"
           name="inputRepeatPassword"
           placeholder="Repeat password"
           [(ngModel)]="inputRepeatPassword">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
