<div *ngIf="userProfileData">
  <div class="row">
    <div class="col-md-12">
      <h1>{{username}}'s profile!</h1>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info">Add Project</button>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf="userProfileData.projects">
    <h3>projects</h3>
    <br>
    <ul>
      <li *ngFor="let project of userProfileData.projects;">
        <div class="row">
          <div class="col-md-8">
            <a [routerLink]="['/project-page',project.projectId]">{{project.projectName}}</a>
          </div>
          <div class="col-md-4 ">
            <button class="btn btn-info col-3 m-1 text-center"><i class="bi bi-eye"></i><i class="bi bi-eye-slash"></i></button>
            <button class="btn btn-danger col-3 m-1 text-center"><i class="bi bi-x-lg"></i></button>
            <button class="btn btn-secondary col-3 m-1 text-center"><i class="bi bi-pen"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
