<div>
  <div>
    <button class="btn btn-info" [routerLink]="['/my-profile']">My Projects</button>
  </div>
  <div class="p-5">
    <h2>Add new project</h2>
  </div>
  <div>
    <form (ngSubmit)="onSubmit(quillEditorComponent.quillEditor)" #signInForm="ngForm">
      <div class="form-group">
        <label for="inputProjectTitle">Project Title</label>
        <input type="text"
               class="form-control"
               id="inputProjectTitle"
               name="inputProjectTitle"
               placeholder="My awesome project..."
               required
               [(ngModel)]="inputProjectTitle"
               #projectTitle="ngModel">
        <small *ngIf="!projectTitle.valid && projectTitle.touched" class="form-text text-danger">
          You must insert a title!
        </small>
      </div>
      <quill-editor #quillEditorComponent [styles]="{height: '450px'}" [modules]="modules"></quill-editor>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Add Project</button>
    </form>
  </div>
</div>
