<div>
  <div>
    <button class="btn btn-info" [routerLink]="['/my-profile/add-project']">Add Project</button>
  </div>
  <div class="p-5">
    <h2>My projects</h2>
  </div>
  <br>
  <div *ngIf="projects; else loadingProjects">
    <ul>
      <li *ngFor="let project of projects">
        <div class="row">
          <div class="col-md-8">
            <a [routerLink]="['/project',project.id]">{{project.title}}</a>
          </div>
          <div class="col-md-4 ">
            <button class="btn btn-info col-3 m-1 text-center">
              <i class="bi bi-eye"></i>
              <i class="bi bi-eye-slash"></i>
            </button>
            <button class="btn btn-danger col-3 m-1 text-center" (click)="onProjectDelete(project.id)">
              <i class="bi bi-x-lg"></i>
            </button>
            <button class="btn btn-secondary col-3 m-1 text-center">
              <i class="bi bi-pen"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #loadingProjects>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
