<div>
  <div>
    <button class="btn btn-info col-12" [routerLink]="['/my-profile/add-project']">Add Project</button>
  </div>
  <div class="text-left text-info pt-3">
    <h4>MY PROJECTS</h4>
  </div>
  <br>
  <div *ngIf="projects; else loadingProjects">
    <ul>
      <li *ngFor="let project of projects">
        <div class="row">
          <div class="col-md-8">
            <a [routerLink]="['/project',project.id]">
              <div class="text-left bg-light d-flex p-2">
                <div class="col-2">
                  <img class="rounded img-fluid img-thumbnail" style="max-width:100%" [src]=project.mainPicture
                       alt="main picture">
                </div>
                <div class="col-10">
                  <div >
                    {{project.title}}
                  </div>
                  <div class="text-secondary">
                    <p>{{project.briefDescription}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 ">
            <button class="btn btn-info col-3 m-1 text-center" (click)="updateVisibility(project.id, !project.visible)">
              <div *ngIf="project.visible; else nonVisible">
                <i class="bi bi-eye"></i>
              </div>
              <ng-template #nonVisible>
                <i class="bi bi-eye-slash"></i>
              </ng-template>
            </button>
            <button class="btn btn-danger col-3 m-1 text-center" (click)="onProjectDelete(project.id)">
              <i class="bi bi-x-lg"></i>
            </button>
            <button class="btn btn-secondary col-3 m-1 text-center" [routerLink]="['/my-profile/edit-project', project.id]">
              <i class="bi bi-pen"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #loadingProjects>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
